statemachines/sample-step-function.json
{
  "Comment": "Step Function that creates AMI and launches instance",
  "StartAt": "InsertStartRecord",

  "States": {

    "InsertStartRecord": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Parameters": {
        "TableName": "${DynamoTableName}",
        "Item": {
          "step_function_name": { "S.$": "$.step_function_name" },
          "step_function_launch_time": { "S.$": "$.step_function_launch_time" },
          "existing-instance-id": { "S.$": "$.existing-instance-id" },
          "new-instance-id": { "S": "" },
          "step_function_status": { "S": "STARTED" }
        }
      },
      "Next": "CreateAMI"
    },

    "CreateAMI": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CreateAmiLambdaArn}",
        "PayloadResponseOnly": true,
        "Payload": {
          "existing-instance-id.$": "$.existing-instance-id"
        }
      },
      "ResultPath": "$.CreateAmiResult",
      "Next": "LaunchInstance"
    },

    "LaunchInstance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${LaunchInstanceLambdaArn}",
        "PayloadResponseOnly": true,
        "Payload": {
          "ImageId.$": "$.CreateAmiResult.ImageId",
          "existing-instance-id.$": "$.existing-instance-id"
        }
      },
      "ResultPath": "$.LaunchInstanceResult",
      "Next": "UpdateCompleted"
    },

    "UpdateCompleted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Parameters": {
        "TableName": "${DynamoTableName}",
        "Key": {
          "step_function_name": { "S.$": "$.step_function_name" },
          "step_function_launch_time": { "S.$": "$.step_function_launch_time" }
        },
        "UpdateExpression": "SET #status = :status, #newId = :newId",
        "ExpressionAttributeNames": {
          "#status": "step_function_status",
          "#newId": "new-instance-id"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "COMPLETED" },
          ":newId": { "S.$": "$.LaunchInstanceResult.new-instance-id" }
        }
      },
      "End": true
    }
  }
}
